.app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    touch-action: pan-up;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

body {

    background-color: #f0f0f0;

}

.neon-line {
    position: absolute;
    width: 2px;
    height: 2px;
    opacity: 0.6;
    transform-origin: 0 0;
    animation: neonPulse 1.5s infinite alternate;
}

@keyframes neonPulse {
    0% {
        transform: scaleY(1);
        opacity: 0.6;
    }

    100% {
        transform: scaleY(1.2);
        opacity: 1;
    }
}